<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_Ogre_Slashing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1716,0},{383,554}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{226,197},{383,554}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Slashing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1708,1672},{364,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{237,198},{364,553}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Slashing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{602,558}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{261,194},{602,558}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Slashing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,559},{576,552}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{287,199},{576,552}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Slashing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,1625},{577,533}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{286,219},{577,533}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Slashing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1625},{578,532}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{285,219},{578,532}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Slashing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1092},{579,532}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{284,219},{579,532}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Slashing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,559},{580,532}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{283,219},{580,532}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Slashing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,0},{561,539}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{283,212},{561,539}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Slashing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1157,1672},{550,552}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{288,199},{550,552}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Slashing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,540},{557,558}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{273,193},{557,558}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Slashing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1157,1112},{571,559}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{250,192},{571,559}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2100,2226}</string>
			<key>textureFileName</key>
			<string>spritesOgre.png</string>
			</dict>
		</dict>
</plist>