<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HURT_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1436,1186}</string>
                <key>spriteSourceSize</key>
                <string>{1436,1186}</string>
                <key>textureRect</key>
                <string>{{0,0},{1436,1186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1465,1251}</string>
                <key>spriteSourceSize</key>
                <string>{1465,1251}</string>
                <key>textureRect</key>
                <string>{{1436,0},{1465,1251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1486,1303}</string>
                <key>spriteSourceSize</key>
                <string>{1486,1303}</string>
                <key>textureRect</key>
                <string>{{4367,0},{1486,1303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1498,1339}</string>
                <key>spriteSourceSize</key>
                <string>{1498,1339}</string>
                <key>textureRect</key>
                <string>{{1487,1303},{1498,1339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1499,1341}</string>
                <key>spriteSourceSize</key>
                <string>{1499,1341}</string>
                <key>textureRect</key>
                <string>{{2985,1303},{1499,1341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1487,1305}</string>
                <key>spriteSourceSize</key>
                <string>{1487,1305}</string>
                <key>textureRect</key>
                <string>{{0,1303},{1487,1305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1466,1254}</string>
                <key>spriteSourceSize</key>
                <string>{1466,1254}</string>
                <key>textureRect</key>
                <string>{{2901,0},{1466,1254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ORK_2.png</string>
            <key>size</key>
            <string>{5853,2644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c5b3f91feeb171efd6b7cbcc0ff7992:e4a4ba4cde899841627aef13a4168dd9:7fd6bf1338214a05160cd5d79fd01e43$</string>
            <key>textureFileName</key>
            <string>ORK_2.png</string>
        </dict>
    </dict>
</plist>
