<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JUMP_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{841,684}</string>
                <key>spriteSourceSize</key>
                <string>{841,684}</string>
                <key>textureRect</key>
                <string>{{0,0},{841,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JUMP_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{841,684}</string>
                <key>spriteSourceSize</key>
                <string>{841,684}</string>
                <key>textureRect</key>
                <string>{{841,0},{841,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JUMP_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{841,684}</string>
                <key>spriteSourceSize</key>
                <string>{841,684}</string>
                <key>textureRect</key>
                <string>{{1682,0},{841,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JUMP_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{841,684}</string>
                <key>spriteSourceSize</key>
                <string>{841,684}</string>
                <key>textureRect</key>
                <string>{{2523,0},{841,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JUMP_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{841,684}</string>
                <key>spriteSourceSize</key>
                <string>{841,684}</string>
                <key>textureRect</key>
                <string>{{3364,0},{841,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JUMP_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{841,684}</string>
                <key>spriteSourceSize</key>
                <string>{841,684}</string>
                <key>textureRect</key>
                <string>{{4205,0},{841,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JUMP_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{841,684}</string>
                <key>spriteSourceSize</key>
                <string>{841,684}</string>
                <key>textureRect</key>
                <string>{{5046,0},{841,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Jump.png</string>
            <key>size</key>
            <string>{5887,684}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e51174aa88b69229f2e33a516839a237:3cef86cd22abbcfb854c32b103c2ce22:9f2b93a6dfdd09b8f66aa3ab0849d73e$</string>
            <key>textureFileName</key>
            <string>Jump.png</string>
        </dict>
    </dict>
</plist>
