<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_DinoAttack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,663},{124,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,20},{124,97}}</string>
				<key>sourceSize</key>
				<string>{226,117}</string>
			</dict>

			<key>0_DinoAttack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,271},{115,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{55,8},{115,109}}</string>
				<key>sourceSize</key>
				<string>{226,117}</string>
			</dict>

			<key>0_DinoAttack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,443},{127,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,8},{127,109}}</string>
				<key>sourceSize</key>
				<string>{226,117}</string>
			</dict>

			<key>0_DinoAttack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,553},{125,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{50,8},{125,109}}</string>
				<key>sourceSize</key>
				<string>{226,117}</string>
			</dict>

			<key>0_DinoAttack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,761},{124,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,8},{124,109}}</string>
				<key>sourceSize</key>
				<string>{226,117}</string>
			</dict>

			<key>0_DinoAttack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,663},{119,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,8},{119,109}}</string>
				<key>sourceSize</key>
				<string>{226,117}</string>
			</dict>

			<key>0_DinoAttack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,3},{114,114}}</string>
				<key>sourceSize</key>
				<string>{226,117}</string>
			</dict>

			<key>0_DinoAttack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,871},{122,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{52,0},{122,117}}</string>
				<key>sourceSize</key>
				<string>{226,117}</string>
			</dict>

			<key>0_DinoAttack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,871},{120,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,1},{120,116}}</string>
				<key>sourceSize</key>
				<string>{226,117}</string>
			</dict>

			<key>0_DinoAttack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,443},{118,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,2},{118,115}}</string>
				<key>sourceSize</key>
				<string>{226,117}</string>
			</dict>

			<key>0_DinoAttack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,271},{188,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,29},{188,88}}</string>
				<key>sourceSize</key>
				<string>{226,117}</string>
			</dict>

			<key>0_DinoAttack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,181},{225,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,28},{225,89}}</string>
				<key>sourceSize</key>
				<string>{226,117}</string>
			</dict>

			<key>0_DinoAttack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,90},{226,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,27},{226,90}}</string>
				<key>sourceSize</key>
				<string>{226,117}</string>
			</dict>

			<key>0_DinoAttack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{226,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,28},{226,89}}</string>
				<key>sourceSize</key>
				<string>{226,117}</string>
			</dict>

			<key>0_DinoAttack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{175,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,35},{175,82}}</string>
				<key>sourceSize</key>
				<string>{226,117}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>spritesDino.png</string>
			</dict>
		</dict>
</plist>