<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_boom_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,300},{222,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{351,265},{222,302}}</string>
				<key>sourceSize</key>
				<string>{874,950}</string>
			</dict>

			<key>0_boom_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,0},{224,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{350,267},{224,299}}</string>
				<key>sourceSize</key>
				<string>{874,950}</string>
			</dict>

			<key>0_boom_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1371,1639},{175,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{350,363},{175,204}}</string>
				<key>sourceSize</key>
				<string>{874,950}</string>
			</dict>

			<key>0_boom_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,0},{622,602}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{126,210},{622,602}}</string>
				<key>sourceSize</key>
				<string>{874,950}</string>
			</dict>

			<key>0_boom_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1371,603},{509,589}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{167,180},{509,589}}</string>
				<key>sourceSize</key>
				<string>{874,950}</string>
			</dict>

			<key>0_boom_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{874,950}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{874,950}}</string>
				<key>sourceSize</key>
				<string>{874,950}</string>
			</dict>

			<key>0_boom_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,951},{698,763}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{80,108},{698,763}}</string>
				<key>sourceSize</key>
				<string>{874,950}</string>
			</dict>

			<key>0_boom_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,951},{671,773}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{96,104},{671,773}}</string>
				<key>sourceSize</key>
				<string>{874,950}</string>
			</dict>

			<key>0_boom_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1371,1193},{442,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,268},{442,445}}</string>
				<key>sourceSize</key>
				<string>{874,950}</string>
			</dict>

			<key>0_boom_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,603},{336,339}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{269,321},{336,339}}</string>
				<key>sourceSize</key>
				<string>{874,950}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1881,1844}</string>
			<key>textureFileName</key>
			<string>spritesBoom.png</string>
			</dict>
		</dict>
</plist>