<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_Hunter_Communication_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{0,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{700,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1400,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{2100,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{2800,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{3500,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{4200,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{4900,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{5600,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{6300,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{0,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{700,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1400,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{2100,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{2800,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{3500,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{4200,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{4900,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{5600,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{6300,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{0,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{700,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1400,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{2100,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{2800,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{3500,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{4200,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{4900,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{5600,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Hunter_Communication_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{6300,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ice.png</string>
            <key>size</key>
            <string>{7000,2100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dd1880f4c5b1b812d6cfc92a55fe818:e1ad6805e48d44a71d5c3c5872dedba9:c726205c27e4788c93bdec8200cffa4f$</string>
            <key>textureFileName</key>
            <string>Ice.png</string>
        </dict>
    </dict>
</plist>
