<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_Blacksmith_Greeting_2_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,165},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,55}}</string>
				<key>sourceSize</key>
				<string>{42,55}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,165},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,55}}</string>
				<key>sourceSize</key>
				<string>{41,55}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,0},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,55}}</string>
				<key>sourceSize</key>
				<string>{41,55}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,55},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,55}}</string>
				<key>sourceSize</key>
				<string>{41,55}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,110},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,55}}</string>
				<key>sourceSize</key>
				<string>{41,55}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,165},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,55},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{42,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,165},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{42,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,165},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{42,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,165},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{42,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,165},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{42,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,110},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{42,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,110},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{42,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,0},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{42,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,0},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{42,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,165},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,165},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,55},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,55},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,165},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,165},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,110},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,110},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,110},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,110},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,55},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,55},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,165},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,165},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,0},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,0},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,110},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,110},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,55},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,55},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{43,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,55},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,55}}</string>
				<key>sourceSize</key>
				<string>{42,55}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,55},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,55}}</string>
				<key>sourceSize</key>
				<string>{43,55}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{44,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,55}}</string>
				<key>sourceSize</key>
				<string>{44,55}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,110},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,55}}</string>
				<key>sourceSize</key>
				<string>{43,55}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,0},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,55}}</string>
				<key>sourceSize</key>
				<string>{43,55}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,55}}</string>
				<key>sourceSize</key>
				<string>{43,55}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,110},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,55}}</string>
				<key>sourceSize</key>
				<string>{42,55}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,0},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,55}}</string>
				<key>sourceSize</key>
				<string>{41,55}</string>
			</dict>

			<key>0_Blacksmith_Greeting_2_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,0},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,55}}</string>
				<key>sourceSize</key>
				<string>{41,55}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>Greeting2.png</string>
			</dict>
		</dict>
</plist>