<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1103,567}</string>
                <key>spriteSourceSize</key>
                <string>{1103,567}</string>
                <key>textureRect</key>
                <string>{{0,0},{1103,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1103,567}</string>
                <key>spriteSourceSize</key>
                <string>{1103,567}</string>
                <key>textureRect</key>
                <string>{{1103,0},{1103,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1103,567}</string>
                <key>spriteSourceSize</key>
                <string>{1103,567}</string>
                <key>textureRect</key>
                <string>{{2206,0},{1103,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1103,567}</string>
                <key>spriteSourceSize</key>
                <string>{1103,567}</string>
                <key>textureRect</key>
                <string>{{3309,0},{1103,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1103,567}</string>
                <key>spriteSourceSize</key>
                <string>{1103,567}</string>
                <key>textureRect</key>
                <string>{{4412,0},{1103,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1103,567}</string>
                <key>spriteSourceSize</key>
                <string>{1103,567}</string>
                <key>textureRect</key>
                <string>{{5515,0},{1103,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1103,567}</string>
                <key>spriteSourceSize</key>
                <string>{1103,567}</string>
                <key>textureRect</key>
                <string>{{6618,0},{1103,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss.png</string>
            <key>size</key>
            <string>{7721,567}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7f8a973c719ed8ce88a948daa952de4:9c63ed8438f69c8e6ff3519f35af667b:21cfae9c2ef8294adacbc5cfc054a3e6$</string>
            <key>textureFileName</key>
            <string>Boss.png</string>
        </dict>
    </dict>
</plist>
