<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>road_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,175},{63,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,21},{63,43}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>road_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>road_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,64},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>road_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,111},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>road_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,0},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>road_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,64},{64,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,17},{64,47}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>road_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,107},{54,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,19},{54,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>road_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,175},{61,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{61,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>road_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,128},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>road_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,0},{60,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>road_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,64},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>road_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,192},{64,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,43}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>road_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,107},{52,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,43}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>