<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IDLE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1436,1186}</string>
                <key>spriteSourceSize</key>
                <string>{1436,1186}</string>
                <key>textureRect</key>
                <string>{{0,0},{1436,1186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1503,1192}</string>
                <key>spriteSourceSize</key>
                <string>{1503,1192}</string>
                <key>textureRect</key>
                <string>{{1436,0},{1503,1192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1566,1198}</string>
                <key>spriteSourceSize</key>
                <string>{1566,1198}</string>
                <key>textureRect</key>
                <string>{{4445,0},{1566,1198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1626,1204}</string>
                <key>spriteSourceSize</key>
                <string>{1626,1204}</string>
                <key>textureRect</key>
                <string>{{1569,1198},{1626,1204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1630,1205}</string>
                <key>spriteSourceSize</key>
                <string>{1630,1205}</string>
                <key>textureRect</key>
                <string>{{3195,1198},{1630,1205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1569,1199}</string>
                <key>spriteSourceSize</key>
                <string>{1569,1199}</string>
                <key>textureRect</key>
                <string>{{0,1198},{1569,1199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1506,1193}</string>
                <key>spriteSourceSize</key>
                <string>{1506,1193}</string>
                <key>textureRect</key>
                <string>{{2939,0},{1506,1193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ORK_2.png</string>
            <key>size</key>
            <string>{6011,2403}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0483ee29f2364429c38ae38a946ab65:453fbb45e1053e4bcb0cd14b88294dd1:7fd6bf1338214a05160cd5d79fd01e43$</string>
            <key>textureFileName</key>
            <string>ORK_2.png</string>
        </dict>
    </dict>
</plist>
