<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATTAK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1368,1150}</string>
                <key>spriteSourceSize</key>
                <string>{1368,1150}</string>
                <key>textureRect</key>
                <string>{{0,0},{1368,1150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1621,1160}</string>
                <key>spriteSourceSize</key>
                <string>{1621,1160}</string>
                <key>textureRect</key>
                <string>{{0,1602},{1621,1160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1713,1168}</string>
                <key>spriteSourceSize</key>
                <string>{1713,1168}</string>
                <key>textureRect</key>
                <string>{{1621,1602},{1713,1168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1548,1382}</string>
                <key>spriteSourceSize</key>
                <string>{1548,1382}</string>
                <key>textureRect</key>
                <string>{{4342,0},{1548,1382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1501,1602}</string>
                <key>spriteSourceSize</key>
                <string>{1501,1602}</string>
                <key>textureRect</key>
                <string>{{2841,0},{1501,1602}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1720,1249}</string>
                <key>spriteSourceSize</key>
                <string>{1720,1249}</string>
                <key>textureRect</key>
                <string>{{3334,1602},{1720,1249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1473,1165}</string>
                <key>spriteSourceSize</key>
                <string>{1473,1165}</string>
                <key>textureRect</key>
                <string>{{1368,0},{1473,1165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ORK_1.png</string>
            <key>size</key>
            <string>{5890,2851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f3bcbea11a3ffdb5e71997ff824ef9f:8ab5749085076305011773fda3d18a4f:9905e6643d76109b960d5e3443aed180$</string>
            <key>textureFileName</key>
            <string>ORK_1.png</string>
        </dict>
    </dict>
</plist>
