<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WALK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{823,575}</string>
                <key>spriteSourceSize</key>
                <string>{823,575}</string>
                <key>textureRect</key>
                <string>{{0,0},{823,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{823,575}</string>
                <key>spriteSourceSize</key>
                <string>{823,575}</string>
                <key>textureRect</key>
                <string>{{0,575},{823,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{823,575}</string>
                <key>spriteSourceSize</key>
                <string>{823,575}</string>
                <key>textureRect</key>
                <string>{{0,1150},{823,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{823,575}</string>
                <key>spriteSourceSize</key>
                <string>{823,575}</string>
                <key>textureRect</key>
                <string>{{0,1725},{823,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{823,575}</string>
                <key>spriteSourceSize</key>
                <string>{823,575}</string>
                <key>textureRect</key>
                <string>{{0,2300},{823,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{823,575}</string>
                <key>spriteSourceSize</key>
                <string>{823,575}</string>
                <key>textureRect</key>
                <string>{{0,2875},{823,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{823,575}</string>
                <key>spriteSourceSize</key>
                <string>{823,575}</string>
                <key>textureRect</key>
                <string>{{0,3450},{823,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss.png</string>
            <key>size</key>
            <string>{823,4025}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e1348b463b2150fa87655814cd63721:141c291fad8a1e1e984d073fd5568975:21cfae9c2ef8294adacbc5cfc054a3e6$</string>
            <key>textureFileName</key>
            <string>Boss.png</string>
        </dict>
    </dict>
</plist>
