<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_Reaper_Man_Idle_Blinking_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,137},{35,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,11},{35,44}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Idle_Blinking_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,0},{34,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,11},{34,44}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Idle_Blinking_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,46},{34,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,11},{34,44}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Idle_Blinking_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,45},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,10},{34,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Idle_Blinking_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,91},{35,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,10},{35,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Idle_Blinking_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,45},{35,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,10},{35,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Idle_Blinking_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,182},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,10},{34,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Idle_Blinking_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,0},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,10},{34,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Idle_Blinking_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,182},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,10},{34,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Idle_Blinking_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,92},{35,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,10},{35,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Idle_Blinking_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,46},{35,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,10},{35,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Idle_Blinking_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{35,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,10},{35,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Idle_Blinking_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,138},{35,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,10},{35,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Idle_Blinking_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{35,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,10},{35,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Idle_Blinking_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,181},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,10},{34,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Idle_Blinking_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,136},{34,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,11},{34,44}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Idle_Blinking_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,91},{34,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,11},{34,44}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Idle_Blinking_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,0},{35,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,11},{35,44}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>spritesReaper.png</string>
			</dict>
		</dict>
</plist>