<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_Citizen_Idle Blinking_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{0,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{700,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1400,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{2100,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{2800,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{3500,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{4200,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{4900,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{5600,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{6300,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{0,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{700,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1400,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{2100,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{2800,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{3500,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{4200,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{4900,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{5600,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{6300,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{0,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{700,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1400,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{2100,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{2800,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{3500,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{4200,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{4900,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{5600,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle Blinking_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{6300,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Idle Blinking.png</string>
            <key>size</key>
            <string>{7000,2100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23c7e55341c7692c9b65a65d48367a65:351b119923bda6cd33b03ae1472f72ed:f05f1fee1e91c118f27fce34718efcee$</string>
            <key>textureFileName</key>
            <string>Idle Blinking.png</string>
        </dict>
    </dict>
</plist>
