<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1368,1150}</string>
                <key>spriteSourceSize</key>
                <string>{1368,1150}</string>
                <key>textureRect</key>
                <string>{{0,0},{1368,1150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1710,1165}</string>
                <key>spriteSourceSize</key>
                <string>{1710,1165}</string>
                <key>textureRect</key>
                <string>{{1368,0},{1710,1165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1952,1151}</string>
                <key>spriteSourceSize</key>
                <string>{1952,1151}</string>
                <key>textureRect</key>
                <string>{{1911,1165},{1952,1151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1979,1146}</string>
                <key>spriteSourceSize</key>
                <string>{1979,1146}</string>
                <key>textureRect</key>
                <string>{{3863,1165},{1979,1146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1911,1113}</string>
                <key>spriteSourceSize</key>
                <string>{1911,1113}</string>
                <key>textureRect</key>
                <string>{{0,1165},{1911,1113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1873,987}</string>
                <key>spriteSourceSize</key>
                <string>{1873,987}</string>
                <key>textureRect</key>
                <string>{{3078,0},{1873,987}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1880,935}</string>
                <key>spriteSourceSize</key>
                <string>{1880,935}</string>
                <key>textureRect</key>
                <string>{{4951,0},{1880,935}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ORK_1.png</string>
            <key>size</key>
            <string>{6831,2316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1d107711fd18f602f70c68c7a9dcbaa:267d909e17384d72275dc91c48aa575c:9905e6643d76109b960d5e3443aed180$</string>
            <key>textureFileName</key>
            <string>ORK_1.png</string>
        </dict>
    </dict>
</plist>
