<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HURT_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{802,638}</string>
                <key>spriteSourceSize</key>
                <string>{802,638}</string>
                <key>textureRect</key>
                <string>{{0,0},{802,638}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{802,638}</string>
                <key>spriteSourceSize</key>
                <string>{802,638}</string>
                <key>textureRect</key>
                <string>{{802,0},{802,638}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{802,638}</string>
                <key>spriteSourceSize</key>
                <string>{802,638}</string>
                <key>textureRect</key>
                <string>{{1604,0},{802,638}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{802,638}</string>
                <key>spriteSourceSize</key>
                <string>{802,638}</string>
                <key>textureRect</key>
                <string>{{2406,0},{802,638}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{802,638}</string>
                <key>spriteSourceSize</key>
                <string>{802,638}</string>
                <key>textureRect</key>
                <string>{{3208,0},{802,638}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{802,638}</string>
                <key>spriteSourceSize</key>
                <string>{802,638}</string>
                <key>textureRect</key>
                <string>{{4010,0},{802,638}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{802,638}</string>
                <key>spriteSourceSize</key>
                <string>{802,638}</string>
                <key>textureRect</key>
                <string>{{4812,0},{802,638}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hurt.png</string>
            <key>size</key>
            <string>{5614,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfb5bc520e2f312f6554982bafef5a05:eb4e35d1291010853dc93156f3010496:c824c835982a0baf44dabb892aeea54f$</string>
            <key>textureFileName</key>
            <string>Hurt.png</string>
        </dict>
    </dict>
</plist>
