<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_Ogre_Hurt_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,0},{369,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{246,202},{369,549}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Hurt_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,0},{396,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{277,198},{396,553}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Hurt_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,554},{393,559}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{273,192},{393,559}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Hurt_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,1114},{364,560}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,191},{364,560}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Hurt_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1081},{400,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,209},{400,542}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Hurt_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{422,541}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{159,210},{422,541}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Hurt_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,542},{414,538}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{167,213},{414,538}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Hurt_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1081},{399,533}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,218},{399,533}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Hurt_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1114},{382,539}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,212},{382,539}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Hurt_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,551},{363,544}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,207},{363,544}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Hurt_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1549,1096},{359,548}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,203},{359,548}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Hurt_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1190,0},{364,550}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{232,201},{364,550}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1909,1675}</string>
			<key>textureFileName</key>
			<string>spritesOgre.png</string>
			</dict>
		</dict>
</plist>