<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1436,1186}</string>
                <key>spriteSourceSize</key>
                <string>{1436,1186}</string>
                <key>textureRect</key>
                <string>{{0,0},{1436,1186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1786,1201}</string>
                <key>spriteSourceSize</key>
                <string>{1786,1201}</string>
                <key>textureRect</key>
                <string>{{1436,0},{1786,1201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2026,1185}</string>
                <key>spriteSourceSize</key>
                <string>{2026,1185}</string>
                <key>textureRect</key>
                <string>{{1983,1201},{2026,1185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2046,1177}</string>
                <key>spriteSourceSize</key>
                <string>{2046,1177}</string>
                <key>textureRect</key>
                <string>{{4009,1201},{2046,1177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1983,1146}</string>
                <key>spriteSourceSize</key>
                <string>{1983,1146}</string>
                <key>textureRect</key>
                <string>{{0,1201},{1983,1146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1935,1007}</string>
                <key>spriteSourceSize</key>
                <string>{1935,1007}</string>
                <key>textureRect</key>
                <string>{{3222,0},{1935,1007}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1946,940}</string>
                <key>spriteSourceSize</key>
                <string>{1946,940}</string>
                <key>textureRect</key>
                <string>{{5157,0},{1946,940}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ORK_2.png</string>
            <key>size</key>
            <string>{7103,2386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b695d8c30efa859599aaf9cc24350bef:e7a35e2b42a5f7e0fb69d352a52bf3b6:7fd6bf1338214a05160cd5d79fd01e43$</string>
            <key>textureFileName</key>
            <string>ORK_2.png</string>
        </dict>
    </dict>
</plist>
