<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HURT_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{803,662}</string>
                <key>spriteSourceSize</key>
                <string>{803,662}</string>
                <key>textureRect</key>
                <string>{{0,0},{803,662}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{803,662}</string>
                <key>spriteSourceSize</key>
                <string>{803,662}</string>
                <key>textureRect</key>
                <string>{{803,0},{803,662}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{803,662}</string>
                <key>spriteSourceSize</key>
                <string>{803,662}</string>
                <key>textureRect</key>
                <string>{{1606,0},{803,662}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{803,662}</string>
                <key>spriteSourceSize</key>
                <string>{803,662}</string>
                <key>textureRect</key>
                <string>{{2409,0},{803,662}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{803,662}</string>
                <key>spriteSourceSize</key>
                <string>{803,662}</string>
                <key>textureRect</key>
                <string>{{3212,0},{803,662}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{803,662}</string>
                <key>spriteSourceSize</key>
                <string>{803,662}</string>
                <key>textureRect</key>
                <string>{{4015,0},{803,662}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{803,662}</string>
                <key>spriteSourceSize</key>
                <string>{803,662}</string>
                <key>textureRect</key>
                <string>{{4818,0},{803,662}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss.png</string>
            <key>size</key>
            <string>{5621,662}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f41575d6ba8d672446cd1743a0b2e20f:c4ff7c122c23d8becce7f28e0f00a980:21cfae9c2ef8294adacbc5cfc054a3e6$</string>
            <key>textureFileName</key>
            <string>Boss.png</string>
        </dict>
    </dict>
</plist>
