<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATTAK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{943,817}</string>
                <key>spriteSourceSize</key>
                <string>{943,817}</string>
                <key>textureRect</key>
                <string>{{0,0},{943,817}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{943,817}</string>
                <key>spriteSourceSize</key>
                <string>{943,817}</string>
                <key>textureRect</key>
                <string>{{943,0},{943,817}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{943,817}</string>
                <key>spriteSourceSize</key>
                <string>{943,817}</string>
                <key>textureRect</key>
                <string>{{1886,0},{943,817}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{943,817}</string>
                <key>spriteSourceSize</key>
                <string>{943,817}</string>
                <key>textureRect</key>
                <string>{{2829,0},{943,817}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{943,817}</string>
                <key>spriteSourceSize</key>
                <string>{943,817}</string>
                <key>textureRect</key>
                <string>{{3772,0},{943,817}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{943,817}</string>
                <key>spriteSourceSize</key>
                <string>{943,817}</string>
                <key>textureRect</key>
                <string>{{4715,0},{943,817}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{943,817}</string>
                <key>spriteSourceSize</key>
                <string>{943,817}</string>
                <key>textureRect</key>
                <string>{{5658,0},{943,817}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss.png</string>
            <key>size</key>
            <string>{6601,817}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e617200ab8019eb77887e7463699070:2cd0c21366889179834f6c28cc2df951:21cfae9c2ef8294adacbc5cfc054a3e6$</string>
            <key>textureFileName</key>
            <string>Boss.png</string>
        </dict>
    </dict>
</plist>
