<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_Citizen_Idle_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{0,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{700,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1400,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{2100,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{2800,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{3500,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{4200,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{4900,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{5600,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{6300,0},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{0,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{700,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1400,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{2100,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{2800,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{3500,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{4200,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{4900,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{5600,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{6300,700},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{0,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{700,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1400,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{2100,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{2800,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{3500,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{4200,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{4900,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{5600,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Citizen_Idle_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{6300,1400},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Olie.png</string>
            <key>size</key>
            <string>{7000,2100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f7e825bb463806930896627091a8bc0:52cdb037f90734c6eb57099364f8d5c7:42b422f5ef0000e5b42ce1abeb393c16$</string>
            <key>textureFileName</key>
            <string>Olie.png</string>
        </dict>
    </dict>
</plist>
