<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IDLE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{745,566}</string>
                <key>spriteSourceSize</key>
                <string>{745,566}</string>
                <key>textureRect</key>
                <string>{{0,0},{745,566}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{745,566}</string>
                <key>spriteSourceSize</key>
                <string>{745,566}</string>
                <key>textureRect</key>
                <string>{{0,566},{745,566}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{745,566}</string>
                <key>spriteSourceSize</key>
                <string>{745,566}</string>
                <key>textureRect</key>
                <string>{{0,1132},{745,566}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{745,566}</string>
                <key>spriteSourceSize</key>
                <string>{745,566}</string>
                <key>textureRect</key>
                <string>{{0,1698},{745,566}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{745,566}</string>
                <key>spriteSourceSize</key>
                <string>{745,566}</string>
                <key>textureRect</key>
                <string>{{0,2264},{745,566}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{745,566}</string>
                <key>spriteSourceSize</key>
                <string>{745,566}</string>
                <key>textureRect</key>
                <string>{{0,2830},{745,566}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{745,566}</string>
                <key>spriteSourceSize</key>
                <string>{745,566}</string>
                <key>textureRect</key>
                <string>{{0,3396},{745,566}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Idle.png</string>
            <key>size</key>
            <string>{745,3962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edd0ed88916a8307cef38ec2cad31f71:70597c5ee343ad07b12e9ab99c7d9209:f4a1cbca3384d0685fe55d1d95fabf79$</string>
            <key>textureFileName</key>
            <string>Idle.png</string>
        </dict>
    </dict>
</plist>
