<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>land_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{118,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,12},{118,113}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>stones_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,129},{103,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,46}}</string>
				<key>sourceSize</key>
				<string>{103,46}</string>
			</dict>

			<key>stones_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,129},{33,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,26}}</string>
				<key>sourceSize</key>
				<string>{33,26}</string>
			</dict>

			<key>xug.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,191},{88,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,46}}</string>
				<key>sourceSize</key>
				<string>{88,46}</string>
			</dict>

			<key>xuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,191},{52,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,38}}</string>
				<key>sourceSize</key>
				<string>{52,38}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>item.png</string>
			</dict>
		</dict>
</plist>