<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>decor_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,304},{60,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,33}}</string>
				<key>sourceSize</key>
				<string>{60,33}</string>
			</dict>

			<key>decor_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,195},{24,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,14}}</string>
				<key>sourceSize</key>
				<string>{24,14}</string>
			</dict>

			<key>decor_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,186},{99,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,27}}</string>
				<key>sourceSize</key>
				<string>{99,27}</string>
			</dict>

			<key>decor_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,375},{91,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,21}}</string>
				<key>sourceSize</key>
				<string>{91,21}</string>
			</dict>

			<key>decor_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,396},{79,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,51}}</string>
				<key>sourceSize</key>
				<string>{79,51}</string>
			</dict>

			<key>decor_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,152},{65,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,43}}</string>
				<key>sourceSize</key>
				<string>{65,43}</string>
			</dict>

			<key>decor_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,0},{28,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,43}}</string>
				<key>sourceSize</key>
				<string>{28,43}</string>
			</dict>

			<key>decor_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,132},{23,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,29}}</string>
				<key>sourceSize</key>
				<string>{23,29}</string>
			</dict>

			<key>decor_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,450},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>decor_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,441},{73,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,42}}</string>
				<key>sourceSize</key>
				<string>{73,42}</string>
			</dict>

			<key>decor_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,337},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,25}}</string>
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>

			<key>decor_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,456},{47,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,56}}</string>
				<key>sourceSize</key>
				<string>{47,56}</string>
			</dict>

			<key>decor_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,337},{31,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,27}}</string>
				<key>sourceSize</key>
				<string>{31,27}</string>
			</dict>

			<key>decor_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,365},{45,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,23}}</string>
				<key>sourceSize</key>
				<string>{45,23}</string>
			</dict>

			<key>decor_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,285},{46,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,89}}</string>
				<key>sourceSize</key>
				<string>{46,89}</string>
			</dict>

			<key>decor_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,220},{69,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,65}}</string>
				<key>sourceSize</key>
				<string>{69,65}</string>
			</dict>

			<key>decor_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,0},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,60}}</string>
				<key>sourceSize</key>
				<string>{68,60}</string>
			</dict>

			<key>greenery_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,43},{24,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,60}}</string>
				<key>sourceSize</key>
				<string>{24,60}</string>
			</dict>

			<key>greenery_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,456},{53,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,46}}</string>
				<key>sourceSize</key>
				<string>{53,46}</string>
			</dict>

			<key>greenery_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,60},{51,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,47}}</string>
				<key>sourceSize</key>
				<string>{51,47}</string>
			</dict>

			<key>greenery_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,220},{33,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,44}}</string>
				<key>sourceSize</key>
				<string>{33,44}</string>
			</dict>

			<key>greenery_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,103},{23,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,29}}</string>
				<key>sourceSize</key>
				<string>{23,29}</string>
			</dict>

			<key>land_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,365},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,237},{7,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{69,0},{7,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,507},{11,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{65,71},{11,5}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,480},{76,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,56},{76,20}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,462},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,70},{6,6}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,374},{34,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,0},{34,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,374},{29,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{6,462},{6,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,0},{6,7}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,472},{76,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,33}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,365},{7,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{7,16}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,0},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,152},{70,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,7},{70,68}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,152},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,289},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,213},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,380},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,76},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,396},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,455},{76,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,69},{76,7}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,447},{76,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,8}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,237},{8,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,161},{8,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,0},{8,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,500},{75,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,69},{75,7}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,472},{76,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,8}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>land_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,161},{8,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>road_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,76},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>road_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,0},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>road_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,304},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>road_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,228},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>stones_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,172},{30,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,25}}</string>
				<key>sourceSize</key>
				<string>{30,25}</string>
			</dict>

			<key>stones_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,60},{34,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,31}}</string>
				<key>sourceSize</key>
				<string>{34,31}</string>
			</dict>

			<key>stones_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,107},{43,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,35}}</string>
				<key>sourceSize</key>
				<string>{43,35}</string>
			</dict>

			<key>stones_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,483},{62,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,27}}</string>
				<key>sourceSize</key>
				<string>{62,27}</string>
			</dict>

			<key>stones_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,107},{39,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,41}}</string>
				<key>sourceSize</key>
				<string>{39,41}</string>
			</dict>

			<key>stones_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,195},{19,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,15}}</string>
				<key>sourceSize</key>
				<string>{19,15}</string>
			</dict>

			<key>stones_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,148},{30,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,24}}</string>
				<key>sourceSize</key>
				<string>{30,24}</string>
			</dict>

			<key>tree_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{106,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,186}}</string>
				<key>sourceSize</key>
				<string>{106,186}</string>
			</dict>

			<key>tree_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,213},{95,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,162}}</string>
				<key>sourceSize</key>
				<string>{95,162}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>item_.png</string>
			</dict>
		</dict>
</plist>