<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>land_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,514},{238,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,0},{238,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>land_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,257},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>land_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,514},{243,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,253}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>land_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>land__.png</string>
			</dict>
		</dict>
</plist>