<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_FireBall_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,462},{108,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{262,20},{108,104}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,692},{108,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{262,18},{108,103}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,0},{102,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{265,18},{102,104}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,0},{107,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{262,20},{107,101}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,927},{109,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{261,24},{109,95}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,356},{108,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{262,22},{108,97}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,218},{107,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{262,24},{107,98}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,890},{104,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{264,18},{104,107}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,540},{102,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{265,15},{102,110}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,105},{101,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{265,15},{101,107}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,584},{109,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{261,15},{109,107}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,116},{110,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{261,14},{110,107}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,567},{106,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{263,16},{106,102}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,786},{105,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{263,12},{105,103}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,689},{114,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{259,14},{114,108}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,469},{118,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{257,14},{118,110}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,911},{114,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{259,11},{114,105}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,584},{109,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{261,16},{109,97}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,436},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{264,13},{103,103}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,227},{102,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{265,12},{102,107}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,890},{100,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{266,9},{100,112}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,692},{106,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{263,10},{106,113}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,540},{100,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{266,7},{100,118}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,105},{100,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{266,3},{100,119}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,659},{100,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{266,3},{100,122}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,335},{100,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{266,3},{100,122}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,317},{106,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{263,5},{106,118}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,670},{105,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{263,6},{105,115}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,454},{106,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{263,8},{106,112}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,469},{112,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,5},{112,114}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,689},{114,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{259,6},{114,113}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,798},{114,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{259,5},{114,112}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,908},{113,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{259,3},{113,115}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,0},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{261,5},{110,115}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,806},{106,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{263,4},{106,119}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,102},{106,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{263,1},{106,124}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,803},{109,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{261,1},{109,123}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,234},{112,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,2},{112,121}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,348},{121,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{255,4},{121,120}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,116},{125,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,5},{125,117}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{127,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{252,9},{127,115}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,234},{123,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{254,9},{123,113}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,580},{118,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{257,17},{118,108}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,803},{113,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{259,21},{113,104}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,116},{107,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{262,21},{107,101}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

			<key>0_FireBall_045.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,356},{112,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,16},{112,105}}</string>
				<key>sourceSize</key>
				<string>{632,125}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>spritesFireball.png</string>
			</dict>
		</dict>
</plist>