<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_Warrior_Attack_1_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,33},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,17},{24,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Attack_1_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,0},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,17},{24,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Attack_1_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,65},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,17},{24,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Attack_1_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,32},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,17},{24,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Attack_1_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,0},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,17},{23,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Attack_1_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,33},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,17},{23,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Attack_1_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,66},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,17},{23,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Attack_1_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,64},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,18},{24,32}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Attack_1_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,66},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,18},{24,32}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Attack_1_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,96},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,18},{24,32}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Attack_1_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,64},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,18},{24,32}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Attack_1_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,32},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,18},{24,32}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Attack_1_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,0},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,18},{24,32}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Attack_1_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,18},{25,32}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Attack_1_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,32},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,18},{24,32}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>PlayerAttackUp.png</string>
			</dict>
		</dict>
</plist>