<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire_Dragon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,63}</string>
                <key>spriteSourceSize</key>
                <string>{69,63}</string>
                <key>textureRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Dragon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,62}</string>
                <key>textureRect</key>
                <string>{{69,0},{70,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Dragon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,61}</string>
                <key>spriteSourceSize</key>
                <string>{76,61}</string>
                <key>textureRect</key>
                <string>{{139,0},{76,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FirePet.png</string>
            <key>size</key>
            <string>{215,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0d08a0bbf2af1f0a6950420044b3d05:e83c543ef6e9663ba9fc736267e84ccd:c4e06bab011a54ec424a87d67e90ac41$</string>
            <key>textureFileName</key>
            <string>FirePet.png</string>
        </dict>
    </dict>
</plist>
