<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_Warrior_Hurt_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Hurt_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1100,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Hurt_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{2200,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Hurt_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Hurt_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1100,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Hurt_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{2200,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Hurt_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Hurt_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1100,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Hurt_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{2200,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Hurt_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,3300},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Hurt_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1100,3300},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Hurt_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{2200,3300},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Hurt_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,4400},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Hurt_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1100,4400},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Hurt_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{2200,4400},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerHurtUp.png</string>
            <key>size</key>
            <string>{3300,5500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e985d35a33f66e29ea5eebc674f9fe4:3a9cf45dbea2630de50469618beef32c:75bd3d9116d40c9bfc9a891ea2344e66$</string>
            <key>textureFileName</key>
            <string>PlayerHurtUp.png</string>
        </dict>
    </dict>
</plist>
