<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IDLE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{769,553}</string>
                <key>spriteSourceSize</key>
                <string>{769,553}</string>
                <key>textureRect</key>
                <string>{{0,0},{769,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{769,553}</string>
                <key>spriteSourceSize</key>
                <string>{769,553}</string>
                <key>textureRect</key>
                <string>{{0,553},{769,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{769,553}</string>
                <key>spriteSourceSize</key>
                <string>{769,553}</string>
                <key>textureRect</key>
                <string>{{0,1106},{769,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{769,553}</string>
                <key>spriteSourceSize</key>
                <string>{769,553}</string>
                <key>textureRect</key>
                <string>{{0,1659},{769,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{769,553}</string>
                <key>spriteSourceSize</key>
                <string>{769,553}</string>
                <key>textureRect</key>
                <string>{{0,2212},{769,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{769,553}</string>
                <key>spriteSourceSize</key>
                <string>{769,553}</string>
                <key>textureRect</key>
                <string>{{0,2765},{769,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{769,553}</string>
                <key>spriteSourceSize</key>
                <string>{769,553}</string>
                <key>textureRect</key>
                <string>{{0,3318},{769,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss.png</string>
            <key>size</key>
            <string>{769,3871}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:571dc7143c9ac41cd260870073e5567c:08fcee31e097d75f380620367bed3630:21cfae9c2ef8294adacbc5cfc054a3e6$</string>
            <key>textureFileName</key>
            <string>Boss.png</string>
        </dict>
    </dict>
</plist>
