<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_Blacksmith_Chagrin_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,110},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{42,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,0},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{42,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,165},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{42,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,165},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{42,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,110},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{42,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,55},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,110},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,165},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,55},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,0},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,165},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,0},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,110},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,55},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,165},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,110},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,0},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,55},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,165},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,110},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,0},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,55},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,165},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,110},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,0},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,55},{41,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{41,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,55},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{42,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{42,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,0},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{42,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Blacksmith_Chagrin_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,55},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{42,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>Chagrin.png</string>
			</dict>
		</dict>
</plist>