<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_Ogre_Idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1659},{369,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{246,202},{369,549}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,1105},{370,550}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{246,201},{370,550}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,553},{372,551}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{246,200},{372,551}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{373,552}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{246,199},{373,552}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1105},{371,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,198},{371,553}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,0},{369,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{243,198},{369,553}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,554},{367,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,198},{367,553}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1108},{367,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{239,198},{367,553}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,1655},{366,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{237,198},{366,553}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,0},{366,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,198},{366,553}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,551},{366,552}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,199},{366,552}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,554},{366,551}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,200},{366,551}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,1106},{364,550}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{236,201},{364,550}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Idle_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,0},{365,550}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{237,201},{365,550}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Idle_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,1104},{366,550}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{239,201},{366,550}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Idle_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,554},{367,550}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,201},{367,550}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Idle_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,1656},{367,550}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{242,201},{367,550}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Ogre_Idle_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,0},{367,550}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{244,201},{367,550}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1845,2209}</string>
			<key>textureFileName</key>
			<string>spritesOgre.png</string>
			</dict>
		</dict>
</plist>