<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_Goblin_Slashing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2295,0},{392,533}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{214,218},{392,533}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Slashing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2305,534},{376,532}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{225,219},{376,532}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Slashing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{614,532}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{249,220},{614,532}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Slashing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,1052},{575,527}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{288,224},{575,527}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Slashing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,0},{577,518}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{286,233},{577,518}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Slashing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,533},{578,518}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{285,233},{578,518}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Slashing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1067},{579,518}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{284,233},{579,518}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Slashing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1067},{580,518}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{283,233},{580,518}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Slashing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,1051},{567,521}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{284,230},{567,521}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Slashing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1738,0},{556,527}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{287,224},{556,527}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Slashing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,519},{572,531}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{262,220},{572,531}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Slashing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,533},{585,533}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{239,218},{585,533}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>