<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JUMP_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1368,1150}</string>
                <key>spriteSourceSize</key>
                <string>{1368,1150}</string>
                <key>textureRect</key>
                <string>{{0,0},{1368,1150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JUMP_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1508,1193}</string>
                <key>spriteSourceSize</key>
                <string>{1508,1193}</string>
                <key>textureRect</key>
                <string>{{2861,0},{1508,1193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JUMP_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1632,1226}</string>
                <key>spriteSourceSize</key>
                <string>{1632,1226}</string>
                <key>textureRect</key>
                <string>{{0,1218},{1632,1226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JUMP_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1739,1248}</string>
                <key>spriteSourceSize</key>
                <string>{1739,1248}</string>
                <key>textureRect</key>
                <string>{{3329,1218},{1739,1248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JUMP_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1697,1240}</string>
                <key>spriteSourceSize</key>
                <string>{1697,1240}</string>
                <key>textureRect</key>
                <string>{{1632,1218},{1697,1240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JUMP_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1601,1218}</string>
                <key>spriteSourceSize</key>
                <string>{1601,1218}</string>
                <key>textureRect</key>
                <string>{{4369,0},{1601,1218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JUMP_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1493,1189}</string>
                <key>spriteSourceSize</key>
                <string>{1493,1189}</string>
                <key>textureRect</key>
                <string>{{1368,0},{1493,1189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ORK_1.png</string>
            <key>size</key>
            <string>{5970,2466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94c24c8f4b85c6b40efbeee2c1021894:925062e097a12eff00c8c21376e409c8:9905e6643d76109b960d5e3443aed180$</string>
            <key>textureFileName</key>
            <string>ORK_1.png</string>
        </dict>
    </dict>
</plist>
