<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_Golem_Sliding_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Golem_Sliding_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{900,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Golem_Sliding_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1800,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Golem_Sliding_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{2700,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Golem_Sliding_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{3600,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Golem_Sliding_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{4500,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Golem_3.png</string>
            <key>size</key>
            <string>{5400,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb02beb9d34aea608a6ac1d4c3ddf477:a796a674302864d98b5787dce9b1acba:c1a159dd4829e15a73e88a3434259aaf$</string>
            <key>textureFileName</key>
            <string>Golem_3.png</string>
        </dict>
    </dict>
</plist>
