<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WALK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1619,1197}</string>
                <key>spriteSourceSize</key>
                <string>{1619,1197}</string>
                <key>textureRect</key>
                <string>{{0,0},{1619,1197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1466,1183}</string>
                <key>spriteSourceSize</key>
                <string>{1466,1183}</string>
                <key>textureRect</key>
                <string>{{1619,0},{1466,1183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1359,1171}</string>
                <key>spriteSourceSize</key>
                <string>{1359,1171}</string>
                <key>textureRect</key>
                <string>{{0,1197},{1359,1171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1337,1175}</string>
                <key>spriteSourceSize</key>
                <string>{1337,1175}</string>
                <key>textureRect</key>
                <string>{{1359,1197},{1337,1175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1336,1175}</string>
                <key>spriteSourceSize</key>
                <string>{1336,1175}</string>
                <key>textureRect</key>
                <string>{{2696,1197},{1336,1175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1359,1171}</string>
                <key>spriteSourceSize</key>
                <string>{1359,1171}</string>
                <key>textureRect</key>
                <string>{{0,2372},{1359,1171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1460,1182}</string>
                <key>spriteSourceSize</key>
                <string>{1460,1182}</string>
                <key>textureRect</key>
                <string>{{1359,2372},{1460,1182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ORK_1.png</string>
            <key>size</key>
            <string>{4032,3554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f85420807d33ec0c0fc4c4ba4153ff4f:58800354d325f58dbad4f41e9ef6b8eb:9905e6643d76109b960d5e3443aed180$</string>
            <key>textureFileName</key>
            <string>ORK_1.png</string>
        </dict>
    </dict>
</plist>
