<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1101,591}</string>
                <key>spriteSourceSize</key>
                <string>{1101,591}</string>
                <key>textureRect</key>
                <string>{{0,0},{1101,591}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1101,591}</string>
                <key>spriteSourceSize</key>
                <string>{1101,591}</string>
                <key>textureRect</key>
                <string>{{1101,0},{1101,591}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1101,591}</string>
                <key>spriteSourceSize</key>
                <string>{1101,591}</string>
                <key>textureRect</key>
                <string>{{2202,0},{1101,591}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1101,591}</string>
                <key>spriteSourceSize</key>
                <string>{1101,591}</string>
                <key>textureRect</key>
                <string>{{3303,0},{1101,591}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1101,591}</string>
                <key>spriteSourceSize</key>
                <string>{1101,591}</string>
                <key>textureRect</key>
                <string>{{4404,0},{1101,591}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1101,591}</string>
                <key>spriteSourceSize</key>
                <string>{1101,591}</string>
                <key>textureRect</key>
                <string>{{5505,0},{1101,591}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1101,591}</string>
                <key>spriteSourceSize</key>
                <string>{1101,591}</string>
                <key>textureRect</key>
                <string>{{6606,0},{1101,591}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Die.png</string>
            <key>size</key>
            <string>{7707,591}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6a3b7cc221acbe361c33f326b79d532:5f185bf7f5dda4c32bec26246ed1a708:f623c01f2d4dd2bc0f89e63912f3ede5$</string>
            <key>textureFileName</key>
            <string>Die.png</string>
        </dict>
    </dict>
</plist>
