<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_Warrior_Died_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,144},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,120},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,96},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,72},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,48},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,48},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,0},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,216},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,192},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,168},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,96},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,72},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,48},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,24},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,24},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,24},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,0},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,216},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,192},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,168},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,168},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,168},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,168},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,168},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,168},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,168},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Warrior_Died_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,168},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,29},{31,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>textureFileName</key>
			<string>PlayerDiedRight.png</string>
			</dict>
		</dict>
</plist>