<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATTAK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{940,817}</string>
                <key>spriteSourceSize</key>
                <string>{940,817}</string>
                <key>textureRect</key>
                <string>{{0,0},{940,817}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{940,817}</string>
                <key>spriteSourceSize</key>
                <string>{940,817}</string>
                <key>textureRect</key>
                <string>{{940,0},{940,817}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{940,817}</string>
                <key>spriteSourceSize</key>
                <string>{940,817}</string>
                <key>textureRect</key>
                <string>{{1880,0},{940,817}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{940,817}</string>
                <key>spriteSourceSize</key>
                <string>{940,817}</string>
                <key>textureRect</key>
                <string>{{2820,0},{940,817}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{940,817}</string>
                <key>spriteSourceSize</key>
                <string>{940,817}</string>
                <key>textureRect</key>
                <string>{{3760,0},{940,817}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{940,817}</string>
                <key>spriteSourceSize</key>
                <string>{940,817}</string>
                <key>textureRect</key>
                <string>{{4700,0},{940,817}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{940,817}</string>
                <key>spriteSourceSize</key>
                <string>{940,817}</string>
                <key>textureRect</key>
                <string>{{5640,0},{940,817}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Attack.png</string>
            <key>size</key>
            <string>{6580,817}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4a0b560d80f834aafb37060884b9b12:e298795a03a89125772af647e4c6fa77:55e7a9d3303152ed3444dcc2f62c4456$</string>
            <key>textureFileName</key>
            <string>Attack.png</string>
        </dict>
    </dict>
</plist>
