<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_Warrior_Died_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1100,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{2200,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{3300,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{4400,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{5500,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1100,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{2200,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{3300,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{4400,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{5500,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1100,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{2200,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{3300,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{4400,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{5500,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,3300},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1100,3300},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{2200,3300},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{3300,3300},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{4400,3300},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{5500,3300},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,4400},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1100,4400},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{2200,4400},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{3300,4400},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{4400,4400},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Died_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{5500,4400},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerDiedRight.png</string>
            <key>size</key>
            <string>{6600,5500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a69c73f00c40cf760033dd7d80d31ec4:d469e17faaa3014e53c331bf7efb8a34:818c61f5efe08b8ce4d0859dda8ced45$</string>
            <key>textureFileName</key>
            <string>PlayerDiedRight.png</string>
        </dict>
    </dict>
</plist>
