<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_Goblin_Kicking_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1098},{380,524}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{234,227},{380,524}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Kicking_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1098},{380,532}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{227,219},{380,532}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Kicking_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,544},{380,538}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{220,213},{380,538}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Kicking_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,0},{380,543}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{213,208},{380,543}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Kicking_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,548},{385,547}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,204},{385,547}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Kicking_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{390,548}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,203},{390,548}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Kicking_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,549},{389,548}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{204,203},{389,548}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Kicking_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,549},{389,548}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{204,203},{389,548}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Kicking_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,0},{387,547}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{205,204},{387,547}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Kicking_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,0},{386,547}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,204},{386,547}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Kicking_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,1083},{380,542}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{214,209},{380,542}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Kicking_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,1096},{380,535}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{223,216},{380,535}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1547,1632}</string>
			<key>textureFileName</key>
			<string>spritesGoblin.png</string>
			</dict>
		</dict>
</plist>