<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_Warrior_Communication_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1100,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{2200,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{3300,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{4400,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{5500,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{6600,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{7700,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{8800,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{9900,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1100,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{2200,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{3300,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{4400,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{5500,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{6600,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{7700,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{8800,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{9900,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1100,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{2200,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{3300,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{4400,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{5500,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{6600,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{7700,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{8800,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Communication_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{9900,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Main.png</string>
            <key>size</key>
            <string>{11000,3300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb04febb30dc10ed87b716f26af29312:5f20c19364eef918bb7b84fe60456722:71fd0f4d858c891d4b483cd3bcff30d8$</string>
            <key>textureFileName</key>
            <string>Main.png</string>
        </dict>
    </dict>
</plist>
