<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_Reaper_Man_Running_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,92},{35,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,11},{35,44}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Running_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,46},{35,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,10},{35,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Running_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,184},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,9},{34,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Running_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,0},{35,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,9},{35,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Running_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,92},{35,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,9},{35,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Running_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,184},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,10},{34,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Running_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{35,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,11},{35,44}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Running_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{35,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,10},{35,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Running_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,137},{35,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,9},{35,46}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Running_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,138},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,9},{34,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Running_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,45},{35,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,9},{35,46}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Reaper_Man_Running_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,138},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,10},{34,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>textureFileName</key>
			<string>spritesReaper.png</string>
			</dict>
		</dict>
</plist>