<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_Boss_dead_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,938},{78,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,145},{78,77}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,102},{74,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{84,146},{74,82}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,0},{91,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{76,137},{91,101}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,913},{97,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,133},{97,109}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,904},{106,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,130},{106,114}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,341},{112,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{65,125},{112,122}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,811},{119,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,123},{119,126}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,680},{126,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{58,121},{126,130}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,546},{133,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{55,97},{133,133}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,0},{139,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{52,99},{139,133}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,199},{145,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,95},{145,141}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,546},{152,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,92},{152,147}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,393},{157,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,89},{157,152}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,745},{160,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,86},{160,158}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,745},{167,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,82},{167,167}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,573},{172,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,80},{172,171}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,393},{174,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,49},{174,179}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,199},{190,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,42},{190,193}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,0},{195,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,39},{195,198}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,0},{200,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,36},{200,205}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,226},{204,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,33},{204,211}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,480},{206,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,30},{206,217}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,726},{209,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,28},{209,222}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,0},{210,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,26},{210,225}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,250},{213,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,15},{213,229}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,494},{217,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,14},{217,231}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,733},{220,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{220,234}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,733},{225,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,10},{225,233}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,494},{229,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,7},{229,238}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,250},{234,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,5},{234,243}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{240,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{240,249}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,968},{26,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{108,42},{26,27}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,968},{74,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{84,0},{74,52}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,968},{45,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{99,15},{45,34}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

			<key>0_Boss_dead_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,949},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,45},{42,58}}</string>
				<key>sourceSize</key>
				<string>{243,251}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>spritesBossEnd.png</string>
			</dict>
		</dict>
</plist>