<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_Reaper_Man_Idle_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Reaper_Man_Idle_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{900,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Reaper_Man_Idle_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1800,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Reaper_Man_Idle_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{2700,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Reaper_Man_Idle_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{3600,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Reaper_Man_Idle_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{4500,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Reaper_Man_Idle_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{5400,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Reaper_Man_Idle_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{6300,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Reaper_Man_Idle_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{7200,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Reaper_Man_Idle_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{0,900},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Reaper_Man_Idle_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{900,900},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Reaper_Man_Idle_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1800,900},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Reaper_Man_Idle_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{2700,900},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Reaper_Man_Idle_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{3600,900},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Reaper_Man_Idle_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{4500,900},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Reaper_Man_Idle_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{5400,900},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Reaper_Man_Idle_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{6300,900},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Reaper_Man_Idle_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{7200,900},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ReaperMan1.png</string>
            <key>size</key>
            <string>{8100,1800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be31f303c9dfa7ea4aff3a49f58478bb:5872e2a56e9c44bd273caf00bf704c13:6f3bcb872d4c514670ff84bcf4322d71$</string>
            <key>textureFileName</key>
            <string>ReaperMan1.png</string>
        </dict>
    </dict>
</plist>
