<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_Citizen_Idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,184},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,62},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,61},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,0},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,183},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,122},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,61},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,0},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,183},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,122},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,61},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,0},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,185},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,124},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,62},{44,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,0},{44,62}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{44,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,0},{44,62}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,122},{44,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,0},{44,62}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,0},{44,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,0},{44,62}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,183},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,122},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,61},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,0},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,183},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,122},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,61},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,0},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,183},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,122},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,61},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0_Citizen_Idle_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,0},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,1},{44,61}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>Idle.png</string>
			</dict>
		</dict>
</plist>