<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_Goblin_Idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,529},{380,524}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{234,227},{380,524}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1583},{381,525}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{234,226},{381,525}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1056},{381,526}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{234,225},{381,526}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,528},{381,527}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,224},{381,527}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{381,527}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,224},{381,527}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,0},{380,528}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{231,223},{380,528}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,1054},{379,528}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{229,223},{379,528}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,0},{379,529}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{227,222},{379,529}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,1058},{378,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{225,221},{378,530}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1522,0},{378,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{223,221},{378,530}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1521,1058},{378,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{223,221},{378,530}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1143,0},{378,529}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{223,222},{378,529}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1520,1589},{377,528}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{223,223},{377,528}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Idle_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,1589},{377,528}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{225,223},{377,528}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Idle_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,530},{379,527}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{226,224},{379,527}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Idle_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,1583},{379,527}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{228,224},{379,527}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Idle_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1580},{379,526}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,225},{379,526}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Idle_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1054},{379,525}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{232,226},{379,525}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1901,2118}</string>
			<key>textureFileName</key>
			<string>spritesGoblin.png</string>
			</dict>
		</dict>
</plist>