<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WALK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1686,1234}</string>
                <key>spriteSourceSize</key>
                <string>{1686,1234}</string>
                <key>textureRect</key>
                <string>{{3062,1212},{1686,1234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1534,1220}</string>
                <key>spriteSourceSize</key>
                <string>{1534,1220}</string>
                <key>textureRect</key>
                <string>{{1528,1212},{1534,1220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1433,1208}</string>
                <key>spriteSourceSize</key>
                <string>{1433,1208}</string>
                <key>textureRect</key>
                <string>{{2837,0},{1433,1208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1419,1212}</string>
                <key>spriteSourceSize</key>
                <string>{1419,1212}</string>
                <key>textureRect</key>
                <string>{{1418,0},{1419,1212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1418,1212}</string>
                <key>spriteSourceSize</key>
                <string>{1418,1212}</string>
                <key>textureRect</key>
                <string>{{0,0},{1418,1212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1433,1208}</string>
                <key>spriteSourceSize</key>
                <string>{1433,1208}</string>
                <key>textureRect</key>
                <string>{{4270,0},{1433,1208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1528,1219}</string>
                <key>spriteSourceSize</key>
                <string>{1528,1219}</string>
                <key>textureRect</key>
                <string>{{0,1212},{1528,1219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ORK_2.png</string>
            <key>size</key>
            <string>{5703,2446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66e903edba62c0a4b50b2b3f6bc94ccd:e8bd8a227bedc61b0012deec4e59cae5:7fd6bf1338214a05160cd5d79fd01e43$</string>
            <key>textureFileName</key>
            <string>ORK_2.png</string>
        </dict>
    </dict>
</plist>
