<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_Warrior_Attack_1_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Attack_1_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1100,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Attack_1_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{2200,0},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Attack_1_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Attack_1_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1100,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Attack_1_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{2200,1100},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Attack_1_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Attack_1_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1100,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Attack_1_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{2200,2200},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Attack_1_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,3300},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Attack_1_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1100,3300},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Attack_1_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{2200,3300},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Attack_1_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{0,4400},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Attack_1_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{1100,4400},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_Warrior_Attack_1_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,1100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1100}</string>
                <key>textureRect</key>
                <string>{{2200,4400},{1100,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerAttackUp.png</string>
            <key>size</key>
            <string>{3300,5500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9d89202fed1b34beeb509592e15e4c1:cee2ae162915498e2965f9034963d6ae:f9b25eb53b69e7258073e872a50f4ace$</string>
            <key>textureFileName</key>
            <string>PlayerAttackUp.png</string>
        </dict>
    </dict>
</plist>
