<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HURT_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1368,1150}</string>
                <key>spriteSourceSize</key>
                <string>{1368,1150}</string>
                <key>textureRect</key>
                <string>{{0,0},{1368,1150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1386,1215}</string>
                <key>spriteSourceSize</key>
                <string>{1386,1215}</string>
                <key>textureRect</key>
                <string>{{1368,0},{1386,1215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1397,1267}</string>
                <key>spriteSourceSize</key>
                <string>{1397,1267}</string>
                <key>textureRect</key>
                <string>{{4141,0},{1397,1267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1399,1306}</string>
                <key>spriteSourceSize</key>
                <string>{1399,1306}</string>
                <key>textureRect</key>
                <string>{{1397,1267},{1399,1306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1399,1307}</string>
                <key>spriteSourceSize</key>
                <string>{1399,1307}</string>
                <key>textureRect</key>
                <string>{{2796,1267},{1399,1307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1397,1269}</string>
                <key>spriteSourceSize</key>
                <string>{1397,1269}</string>
                <key>textureRect</key>
                <string>{{0,1267},{1397,1269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HURT_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1387,1218}</string>
                <key>spriteSourceSize</key>
                <string>{1387,1218}</string>
                <key>textureRect</key>
                <string>{{2754,0},{1387,1218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ORK_1.png</string>
            <key>size</key>
            <string>{5538,2574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aff4cb035643b0e26441d080e340ee32:bb3a24f2504db933e0517292b6fa5d10:9905e6643d76109b960d5e3443aed180$</string>
            <key>textureFileName</key>
            <string>ORK_1.png</string>
        </dict>
    </dict>
</plist>
