<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATTAK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1436,1186}</string>
                <key>spriteSourceSize</key>
                <string>{1436,1186}</string>
                <key>textureRect</key>
                <string>{{0,0},{1436,1186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1671,1197}</string>
                <key>spriteSourceSize</key>
                <string>{1671,1197}</string>
                <key>textureRect</key>
                <string>{{0,1653},{1671,1197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1733,1282}</string>
                <key>spriteSourceSize</key>
                <string>{1733,1282}</string>
                <key>textureRect</key>
                <string>{{3398,1653},{1733,1282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1524,1467}</string>
                <key>spriteSourceSize</key>
                <string>{1524,1467}</string>
                <key>textureRect</key>
                <string>{{2889,0},{1524,1467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1453,1653}</string>
                <key>spriteSourceSize</key>
                <string>{1453,1653}</string>
                <key>textureRect</key>
                <string>{{1436,0},{1453,1653}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1727,1362}</string>
                <key>spriteSourceSize</key>
                <string>{1727,1362}</string>
                <key>textureRect</key>
                <string>{{1671,1653},{1727,1362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1544,1202}</string>
                <key>spriteSourceSize</key>
                <string>{1544,1202}</string>
                <key>textureRect</key>
                <string>{{4413,0},{1544,1202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ORK_2.png</string>
            <key>size</key>
            <string>{5957,3015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96c522277750da329016489ed47fa764:9846577a44de6753e41609b4bbd7951b:7fd6bf1338214a05160cd5d79fd01e43$</string>
            <key>textureFileName</key>
            <string>ORK_2.png</string>
        </dict>
    </dict>
</plist>
