<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1468,1208}</string>
                <key>spriteSourceSize</key>
                <string>{1468,1208}</string>
                <key>textureRect</key>
                <string>{{0,0},{1468,1208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1742,1221}</string>
                <key>spriteSourceSize</key>
                <string>{1742,1221}</string>
                <key>textureRect</key>
                <string>{{1468,0},{1742,1221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1991,1204}</string>
                <key>spriteSourceSize</key>
                <string>{1991,1204}</string>
                <key>textureRect</key>
                <string>{{3210,0},{1991,1204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1993,1195}</string>
                <key>spriteSourceSize</key>
                <string>{1993,1195}</string>
                <key>textureRect</key>
                <string>{{5201,0},{1993,1195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1908,1130}</string>
                <key>spriteSourceSize</key>
                <string>{1908,1130}</string>
                <key>textureRect</key>
                <string>{{0,1221},{1908,1130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1890,987}</string>
                <key>spriteSourceSize</key>
                <string>{1890,987}</string>
                <key>textureRect</key>
                <string>{{1908,1221},{1890,987}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1901,921}</string>
                <key>spriteSourceSize</key>
                <string>{1901,921}</string>
                <key>textureRect</key>
                <string>{{3798,1221},{1901,921}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ORK_3.png</string>
            <key>size</key>
            <string>{7194,2351}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84ec03f804dd5eb0f9d03a8662ca7a54:82ce306dab9f3189f3c255a51858886d:51f2d851d584a8075fce3e388e36cc5c$</string>
            <key>textureFileName</key>
            <string>ORK_3.png</string>
        </dict>
    </dict>
</plist>
