<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_Goblin_Dying_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1344,529},{380,524}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{234,227},{380,524}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Dying_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,1057},{386,526}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{255,203},{386,526}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Dying_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,529},{392,527}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{276,182},{392,527}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Dying_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,0},{396,528}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{299,161},{396,528}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Dying_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1374,1054},{379,538}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{244,137},{379,538}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Dying_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,401},{416,528}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,134},{416,528}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Dying_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,1181},{468,485}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{149,155},{468,485}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Dying_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1594},{495,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,225},{495,450}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Dying_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1181},{517,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{97,304},{517,412}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Dying_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{534,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,389},{534,400}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Dying_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,787},{533,393}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{84,427},{533,393}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Dying_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,401},{533,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{85,448},{533,385}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Dying_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,401},{533,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{85,448},{533,385}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Dying_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,401},{533,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{85,448},{533,385}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Goblin_Dying_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,401},{533,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{85,448},{533,385}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1754,2045}</string>
			<key>textureFileName</key>
			<string>spritesGoblin.png</string>
			</dict>
		</dict>
</plist>