<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATTAK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{961,809}</string>
                <key>spriteSourceSize</key>
                <string>{961,809}</string>
                <key>textureRect</key>
                <string>{{0,0},{961,809}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{961,809}</string>
                <key>spriteSourceSize</key>
                <string>{961,809}</string>
                <key>textureRect</key>
                <string>{{961,0},{961,809}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{961,809}</string>
                <key>spriteSourceSize</key>
                <string>{961,809}</string>
                <key>textureRect</key>
                <string>{{1922,0},{961,809}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{961,809}</string>
                <key>spriteSourceSize</key>
                <string>{961,809}</string>
                <key>textureRect</key>
                <string>{{2883,0},{961,809}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{961,809}</string>
                <key>spriteSourceSize</key>
                <string>{961,809}</string>
                <key>textureRect</key>
                <string>{{3844,0},{961,809}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{961,809}</string>
                <key>spriteSourceSize</key>
                <string>{961,809}</string>
                <key>textureRect</key>
                <string>{{4805,0},{961,809}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{961,809}</string>
                <key>spriteSourceSize</key>
                <string>{961,809}</string>
                <key>textureRect</key>
                <string>{{5766,0},{961,809}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Attak.png</string>
            <key>size</key>
            <string>{6727,809}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a0e558643f5d2d59957d02427f8d1ee:30dcb22c37b37707e5fdb5aff95f2fe1:e6afb5adf1398a9ed6d1cad466a810cc$</string>
            <key>textureFileName</key>
            <string>Attak.png</string>
        </dict>
    </dict>
</plist>
