<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IDLE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1468,1208}</string>
                <key>spriteSourceSize</key>
                <string>{1468,1208}</string>
                <key>textureRect</key>
                <string>{{2935,0},{1468,1208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1467,1215}</string>
                <key>spriteSourceSize</key>
                <string>{1467,1215}</string>
                <key>textureRect</key>
                <string>{{0,0},{1467,1215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1513,1221}</string>
                <key>spriteSourceSize</key>
                <string>{1513,1221}</string>
                <key>textureRect</key>
                <string>{{4403,0},{1513,1221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1576,1227}</string>
                <key>spriteSourceSize</key>
                <string>{1576,1227}</string>
                <key>textureRect</key>
                <string>{{1516,1221},{1576,1227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1580,1228}</string>
                <key>spriteSourceSize</key>
                <string>{1580,1228}</string>
                <key>textureRect</key>
                <string>{{3092,1221},{1580,1228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1516,1221}</string>
                <key>spriteSourceSize</key>
                <string>{1516,1221}</string>
                <key>textureRect</key>
                <string>{{0,1221},{1516,1221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IDLE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1468,1215}</string>
                <key>spriteSourceSize</key>
                <string>{1468,1215}</string>
                <key>textureRect</key>
                <string>{{1467,0},{1468,1215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ORK_3.png</string>
            <key>size</key>
            <string>{5916,2449}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:427bd6d46e95fac136431cc05b08ed7c:14a15749cc508e98151a9abfd82ccdfc:51f2d851d584a8075fce3e388e36cc5c$</string>
            <key>textureFileName</key>
            <string>ORK_3.png</string>
        </dict>
    </dict>
</plist>
